
:root {
    --blanco: #cbcbcb;
    --claro: #bbbaba;
    --oscuro: rgb(18, 18, 18);
    --medio: rgb(17, 17, 17);
    --medio_plus: rgb(94, 92, 92);
    --morado: rgb(66, 18, 60);

}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;

}

*, *:before, *:after{
    box-sizing: inherit;
}