:root {
    --blanco: #cbcbcb;
    --claro: #bbbaba;
    --oscuro: rgb(18, 18, 18);
    --medio: rgb(17, 17, 17);
    --medio_plus: rgb(94, 92, 92);
    --morado: rgb(66, 18, 60);

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;

}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: black;

}

#header {
    position: absolute;
    width: 100%; height: 23px;
    top: 0; left: 0;
}
#sidewrapper,
#contentwrapper {
    float: left;
    width: 50%;
    height: 100%;
}
#sidewrapper .content,
#contentwrapper .content {
    margin-top: 23px;
}

.main-class{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    background-color: var(--medio);
    height: 100vh;
    width: 100%;
    padding: 25px;
}

a  {
    display: flex;
    color: rgb(245, 236, 236);
    font-size: 2rem;
    font-size: 4rem;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat Alternates";
    text-decoration: none;
}

a:hover{
    color: rgba(245, 236, 236, 0.7);

}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(8, 8, 8, 0.6);
    transition: 0.4s linear;
}

.box:hover{
    box-shadow: inset 0 0 0 1000px rgba(8, 8, 8, 0);
}

.box_1{
    background-image: url(/img/1_1.jpg);
}

.box_2{
    background-image: url(/img/1_2.jpg);
}

.box_3{
    background-image: url(/img/2_1.jpg);  
}

.box_4{
    background-image: url(/img/2_2.jpg);
}

@media (max-width: 768px) {
    .main-class{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 0px;
        row-gap: 0px;
        padding: 0px;
    }
}

